<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499726359559-ptsdnb6m26aoagflkerg7d3jeaaarg5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499726359559-ptsdnb6m26aoagflkerg7d3jeaaarg5l</string>
	<key>API_KEY</key>
	<string>AIzaSyDHP-5o1lcNu5VSgSsFRUUNSFeDPVGHLGg</string>
	<key>GCM_SENDER_ID</key>
	<string>499726359559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FluyoTest</string>
	<key>PROJECT_ID</key>
	<string>fluyo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fluyo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499726359559:ios:6cd537ddd7c221b1c3dea2</string>
</dict>
</plist>